test
<ul>
  {{#each anims}}
    <li>
      <p>Type: {{animalType}}</p>
      <p>Pet: {{pet}}</p>
      <p>Fierceness: {{fierceness}}</p>
    </li>
  {{/each}}
</ul>

 <div id="wrapper">
 
      <div id="articles"></div>
      <div id="notes"></div>